body
{background-image: url("quiz.jpg");
text-align:center;
font-size:40px;	
	
	
}
.a
{
	font-size:30px;
}
input[type=button] {
width:200px;
height:20px;
background-color:red;
color:white;
border-radius:5px;
}